<div class="container">
    <div class="flex-lg-wrap d-flex p-2">
        <img src="https://loremflickr.com/200/180/kitten" class="d-block w-20" alt="..."> 
        <img src="https://loremflickr.com/200/180/kitty" class="d-block w-20" alt="..."> 
        <img src="https://loremflickr.com/200/180/pup" class="d-block w-20" alt="..."> 
        <img src="https://loremflickr.com/200/180/puppy" class="d-block w-20" alt="..."> 
        <img src="https://loremflickr.com/200/180/hen" class="d-block w-20" alt="..."> 
    </div>
</div>