<main class="container-fluid min-vh-75">
    <div class="row">
        <div class="col-sm-2 bg-light">
            <div class="col text-center">
                <h2 class="my-3"><a routerLink="to-do" class="my-4">To Do List</a></h2>
                <h2 class="my-3"><a [routerLink]="['simpsons']" class="my-4">Simpsons</a></h2>
                <h2 class="my-3"><a routerLink="rick-and-morty" class="my-4">Rick And Morty</a></h2>
            </div>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>